@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");

:root {
  --primary-color: #fc7f09;
  --primary-color-light: #fffcfa;
  --primary-color-dark: #db6e09;
  --text-dark: #18181b;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo a span {
  color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s linear;
}

url {
  list-style: none;
}

/* Navigation */
nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav_header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.nav_logo a {
  color: var(--white);
}

.nav_menu_btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav_links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav_links.open {
  transform: translateY(0);
}

.nav_links a {
  font-weight: 500;
  color: var(--primary-color);
}

.nav_links a:hover {
  color: var(--text-dark);
}

.nav_btn {
  display: none;
}

/* Navigation Responsiveness */
@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }

  .nav_header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav_logo a {
    color: var(--primary-color);
  }

  .nav_menu_btn {
    display: none;
  }

  .nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav_links a {
    color: var(--text-dark);
  }

  .nav_links a:hover {
    color: var(--primary-color);
  }

  .nav_btn {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .nav_btn .btn{
    padding: 8px 10px;
    font-size: 1.5rem;
    border-radius: 100%;
  }
}
